* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #250c37;
  color: white;
}

h1 {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  margin: 30px;
  font-size: 50px;
}
.board{
margin: 30px auto 20px;
border-collapse: collapse; /*no utilice el borde de la tabla*/
background-color: white;
}

.box-button {
text-align: center;
margin: 20px;
}

.box-button button {
  border: none;
  width: 160px;
  height: 50px;
  font-size: 26px;
  border-radius: 20px;
  background-color: #b41be9;
  color: white;
font-family: 'Boogaloo', cursive;
border: 5px solid white;
outline: none;
}

.box-button button:hover{
    background-color: #c052e7;
    color: white;

}

.board td {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  color: black;
}

.box-text-winner {
text-align: center;
margin: 10px;
font-size: 50px;
font-family: 'Patrick Hand', cursive;

}

.board td:hover {
  background-color: #94f6c1;
}
